<style type="text/css">
.c_rect_main {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #FFF;
	position: absolute;
	height: 110%;
	width: 95%;
	top: 10px;
	bottom: 10px;
	border: 5px solid #F30;
	margin-left: auto;
	margin-right:auto;
}
.c_rect_title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	position: relative;
	height: 55px;
	width: 98%;
	top: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
}

.c_rect_post {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #FFF;
	position: relative;
	width: 98%;
	top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.c_rect_map {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #FFF;
	position: relative;	
	width: 98%;
	top: 25px;
	margin-right: auto;
	margin-left: auto;
	
}
.c_rect_comments {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	background-color: #FFF;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 30px;
}
.c_rect_comments_entry {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: dotted;
	margin-top: 15px;
}

.s_heading_section {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
}

.s_link_major {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
}

.s_text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}
</style>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>

<script type="text/javascript">

  var lat = 0;
  var lon = 0;
  
  //-----------------------------------------------------------
  // Class: Location Tag Type
  //-----------------------------------------------------------
  function BLocationType(name, comment, lat, lon) {
  	this.name = name;
  	this.comment = comment;
  	this.lat = lat;
  	this.lon = lon;
  }
    
  //-----------------------------------------------------------
  // Handle Position Found Callback
  //-----------------------------------------------------------
  function handlePositionFound(position) {
  	document.getElementById("d_current_position").innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
  	
  	lat = position.coords.latitude;
  	lon = position.coords.longitude;
  }
  
  //-----------------------------------------------------------
  // Appends Name, Comment, and Location to Current Tag
  //-----------------------------------------------------------
  function registerTag() {
    name = document.getElementById("f_name").value
    comment = document.getElementById("f_comment").value
    
    name = encodeURIComponent( name );
    comment = encodeURIComponent( comment );
    
    window.location = "/qritems/tag?id=<%= @item.tag %>&name=" + name + "&comment=" + comment + "&lat=" + lat + "&lon=" + lon    
  }
  
  // Google Maps Global Variables
  var gMap = null;
  
  // Generate Lat/Lon Array
  var gMapPointCount = <%= @item.locations.size %>;
  var gMapPoints = new Array
  						( 
  							<% @item.locations.each do |location| %>
  							  <%= "new BLocationType( '#{location.name}', '#{location.comment}', #{location.lat}, #{location.lon} )" %>,
  							<% end %>
  							new Array( 0, 0 )
  						);
  var gMarkers = new Array();
  var gInfoWindows = new Array();
  
  //-----------------------------------------------------------
  // Initialize Google Maps
  //-----------------------------------------------------------
  function initializeGoogleMaps() {  	
    if( gMapPointCount > 0 ) {
	    
	    // Configure Map Options
	  	var myLatlng = new google.maps.LatLng(gMapPoints[0].lat, gMapPoints[0].lon);
	    var mapOptions = {
	    	zoom: 12,
	    	center: myLatlng,
	    	mapTypeId: google.maps.MapTypeId.ROADMAP    
	    }
	    
	    // Create New Map
	  	gMap = new google.maps.Map(document.getElementById("d_map"), mapOptions);
	  	
	  	// Add Map Points
	  	for(i = 0; i < gMapPointCount; i++) {
	  		var markerLatLon = new google.maps.LatLng(gMapPoints[i].lat, gMapPoints[i].lon);

			gInfoWindows[i] = new google.maps.InfoWindow({
				content: gMapPoints[i].name
				});
				
 	  		gMarkers[i] = new google.maps.Marker({
	  			position: markerLatLon,
	  			map: gMap,
	  			title: gMapPoints[i].name
 	  			});
 	  		
 	  		google.maps.event.addListener(gMarkers[i], 'click', makeMarkerCenterEvent(gMap, gMarkers[i], gInfoWindows[i]) );
	  	}
	} else {
		document.getElementById("d_map").innerHTML = "This tag has not been geotagged!";
	}	
  }

  //-----------------------------------------------------------
  // Event Factory for Marker Center Event
  //-----------------------------------------------------------
  function makeMarkerCenterEvent(map, marker, infoWindow) {
  	return function() {
		map.setCenter(marker.position);
  	}
  }
  
  //-----------------------------------------------------------
  // Load Google Maps
  //-----------------------------------------------------------
  function loadGoogleMaps() {
  	var script = document.createElement("script");
  	script.type = "text/javascript";
  	script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initializeGoogleMaps";
  	document.body.appendChild(script);
  }
  
  window.onload = loadGoogleMaps();
  
</script>


<div class="c_rect_main" id="d_rect_main">
  <div class="c_rect_title" id="d_rect_title">
  <img src="/images/bickr_logo.jpg" width="200" height="55" /></div>
  <div class="c_rect_post" id="d_rect_post">
  	<span class="s_heading_section">POST</span>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr><td class="s_text">Name:</td><td><input id="f_name" type="text" class="s_text"></td></tr>
  <tr><td class="s_text">Comment:</td><td><input id="f_comment" type="text" class="s_text"></td></tr>
  <tr><td class="s_text">Location:</td><td class="s_text"><div id="d_current_position">Loading Location...</div></td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td>&nbsp;</td><td class="s_link_major"><a onclick="javascript:registerTag()">Add Comment</a></td></tr>
  </tr>
</table>
  
  </div>
  <div class="c_rect_map" id="d_rect_map"><div id="d_map" style="width:100%; height:300px"></div></div>
  
  <div class="c_rect_comments" id="d_rect_comments">
  	<span class="s_heading_section">Tag History</span><br />
  	
	<% location_idx = 1 %>
	<% if @item.locations.size == 0 %>
	This tag has not been geotagged.
	<% end %>
	<% @item.locations.each do |location| %>
	  
	  	<div class="c_rect_comments_entry">
	    <%= location.name %> - <%= location.created_at %><br />
	    <%= location.comment %>
	    </div>

	<% end %>

  </div>
  
  
</div>

<script type="text/javascript">
  navigator.geolocation.getCurrentPosition(handlePositionFound);
</script>