<script type="text/javascript">

  var lat = 0;
  var lon = 0;
  
  function handlePositionFound(position) {
  	document.getElementById("d_current_position").innerHTML = "Current Position<br>Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
  	
  	lat = position.coords.latitude;
  	lon = position.coords.longitude;
  }
  
  function registerTag() {
    name = document.getElementById("f_name").value
    comment = document.getElementById("f_comment").value
    
    name = encodeURIComponent( name );
    comment = encodeURIComponent( comment );
    
    window.location = "/qritems/tag?id=<%= @item.tag %>&name=" + name + "&comment=" + comment + "&lat=" + lat + "&lon=" + lon
    
  }
</script>


Bickr Tag Viewer<br><br>

<strong>Tag Information</strong><br>
Created: <%= @item.created_at %><br>
Tag ID: <%= @item.tag %><br>
<br><br>

<strong>Post to this Tag</strong>
<div id="d_current_position">Please wait while your browser loads the current position.<br>This may take several seconds and require you to enable location sharing.<br>Latitude: loading...<br>Longitude: loading...</div>
<table>
<tr><td>Name:</td><td><input id="f_name" type="text"></td></tr>
<tr><td>Comment:</td><td><input id="f_comment" type="text"></td></tr>
<tr><td>&nbsp;</td><td><a onclick="javascript:registerTag()">Add Your Location</a></td></tr>
</table>


<br>
<strong>History</strong><br>
<% location_idx = 1 %>
<% if @item.locations.size == 0 %>
This tag has not been geotagged.
<% end %>
<% @item.locations.each do |location| %>
  Record: <%= location_idx %><br>
  Name: <%= location.name %><br>
  Comment: <%= location.comment %><br>
  Latitude: <%= location.lat %><br>
  Longitude: <%= location.lon %><br>
  <% location_idx = location_idx + 1 %>
  <br><br>
<% end %>
 
<script type="text/javascript">
  navigator.geolocation.getCurrentPosition(handlePositionFound);
</script>